*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

.container{
    margin: auto;
    padding: 0 20px;
}


.navbar .navbar-brand{
    font-size: 1.5rem;
    font-weight: 600;
    color: white ;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: #f1f1f1;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color: #f1f1f1;
}


/*  Estilos para la card *//* Estilos para las tarjetas personalizadas */
.card-custom {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    max-width: 300px; 
    width: 100%; 
    flex-direction: column; 
}

.card-custom-img {
    width: 200px; 
    height: 300px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-custom-body {
    width: 100%;
}

.card-custom-title {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    color: #702cf6;
    text-align: center; 
}

.card-custom-type,
.card-custom-year,
.card-custom-ubication {
    margin: 5px 0;
    text-align: center; 
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cursor-pointer {
    cursor: pointer;
}